Source/[Bb]uild*/
Source/[Bb]inary/
Source/bin/
Source/obj/
Source/GeneratedFiles/
Source/cmake-build-debug/*
Source/*.ipch
Source/*.opensdf
Source/*.sdf
Source/*.suo
Source/*.vcxproj.user
Source/*.obj
Source/*.tlog
Source/*.VC.opendb
Source/*.VC.db
Source/.vs/
Source/.vscode/
.vscode/
.idea/*
