[Desktop Entry]
Type=Application
Name=Dolphin Memory Engine
GenericName=Dolphin emulator memory searcher
Comment=A RAM search program designed to search, track, and edit the emulated memory of the Dolphin emulator during runtime
Icon=dolphin-memory-engine
TryExec=dolphin-memory-engine
Categories=Game;
